</main>

<footer>
  <p>Copyright &copy; <span id="copyrightDate"></span>
    <a class="text-light" href="https://github.com/westplainsdev">West Plains Develpment</a> 
    &nbsp; | &nbsp;
    <a class="text-light" href="/legal/">License</a>
  </p>
</footer>

<!-- footer copyright date script -->
<script>
  (function () {
    let target = document.getElementById("copyrightDate");
    let date = new Date();
    let yearDisplay = date.getFullYear();
    target.innerHTML = yearDisplay;
  })();
</script>

</body>

</html>