<div class="bg-dark mb-3 shadow rounded">

  <nav class="navbar navbar-expand-lg navbar-dark ">
    <a class="navbar-brand" href="/">Dynamic Data</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        {{#each data.links}}
        <a class="nav-link {{#if this.active}}active{{/if}}" href="/pages/{{this.link}}">{{this.fileName}}</a>
        {{/each}}
      </div>
    </div>
  </nav>

</div>


<main class="mr-5 ml-5">