{{> header }}
{{> navigation }}

<h3><i class="fa fa-exclamation-triangle text-warning"></i> {{error.status}}  {{message}}</h3>
<pre>{{error.stack}}</pre>

<p><a href="/"><i class="fa fa-arrow-circle-left"></i> Return Home</a></p>
{{> footer }}